shortuuid
wandb
best_download
tensorboardX
ftfy
huggingface_hub>=0.11.0
jinja2==3.1.4
pybind11
regex
sentencepiece
six
tiktoken==0.1.2
tokenizers
transformers==4.48.2
tensorboard==2.13.0
mpi4py==3.1
datasets==2.16.0
accelerate
peft==0.10.0
git+https://github.com/EleutherAI/DeeperSpeed.git@91d1c55ba037b5ada99ae14884dff87a4dc5b9ea#egg=deepspeed
git+https://github.com/EleutherAI/lm_dataformat.git@4eec05349977071bf67fc072290b95e31c8dd836
protoc==3.19.0
protobuf==3.20
numpy==1.24
